name: Go module updater
on:
  workflow_dispatch:
  
jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go 1.x.y
        uses: actions/setup-go@main
        with:
          go-version: 1.19
      - name: Checkout codebase
        uses: actions/checkout@main

      - name: go
        run: |
          go mod tidy
          go get -u
          go mod download
      - name: Git push 
        run: |
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git remote rm origin
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUBTOKEN }}@github.com/${{ github.repository }}"
          git gc --aggressive
          git add --all
          git commit -m "$(date +%Y%m%d%H%M)"
          git push -f -u origin main